@value makerGreen, makerBlack, makerWhite from '../../common/colors.css';

.header {
  width: 100%;
  text-align: center;
  padding: 0.5em;
  background-color: rgb(9, 101, 78);
  position: relative;
}

.logo {
  width: 3em;
}

.title {
  margin: 0;
  color: makerWhite;
}

.logout {
  position: absolute;
  right: 3em;
  top: 1em;
  padding: 0.8em;
  border-radius: 20%;
  border: makerWhite;
  color: rgb(9, 101, 78);
  outline: 0;
  border: 0;
  cursor: pointer;
}
